.panel {background: none}
.dark .panel{border: 1px solid #444}
.lite .panel{border: 1px solid #ddd}

.dark .block{background-color: #323e4a}
.lite .block{background-color: transparent}

.dark .blockHeader{background-color: #272727;}
.lite .blockHeader{background-color: transparent; border-bottom: 1px solid #272727}



.panel-default>.panel-heading {background: none; border: none}
.dark .panel-default>.panel-heading>.panel-title {color: #bbb}
.lite .panel-default>.panel-heading>.panel-title {color: #777}

.dark .panel-footer{background-color: #fff}

.panel-more-btn{position: absolute;right: 20px; top: 10px;}

.dark .panel-default>.panel-heading>h3 {color: #ccc}
